.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialogs .dialogs_items {

}

.active {
    color: white;
}

.dialogs .items {

}

.messages {
    padding: 10px;
}

.messages .message {

}

.inputDialog {
    width: 300px;
    height: 50px;
    margin-left: 40px;
    font-size: 30px;
    padding: 5px;
}

.button {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    font-size: 30px;
}