.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.dialogs .dialogs_items {

}

.active {
    color: white;
}

.dialogs .items {

}

.messages {
    padding: 10px;
}

.messages .message {

}